.footer-container {
    display: flex;
    justify-content: space-between;
    height: 93px;
    margin-top: 55px;

    
}

.footer__left {
    display: flex;
}

.menu__list--footer {
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
}

.footer__right {
    display: flex;
    justify-content: space-between;
}

/*page services */

.footer-services {
    margin-top: 80px;
}

.footer-container {
    height: 114px;
}

.footer__right-servises .contacts {
    margin-top: -20px;
}

.social__list {
    display: flex;
    justify-content: space-evenly;
}

.social__list:last-child {
   margin-right: 60px;
}
.social__icon {
  margin-right:-10px ;
    width: 56px;
    height: 56px;
}

.social__icon--telegram :hover {
    background: url(../../img/t_act.png) no-repeat;
}

.social__icon--vk :hover{
    background: url(../../img/vk_act.png) no-repeat;
}

.social__icon--facebook :hover{
    background: url(../../img/f2_act.png) no-repeat;
}

.social__icon--inst :hover{
    background: url(../../img/in_act.png) no-repeat;
}




